.path-mod-data .howto {
    max-width:           648px;
    text-align:        justify;
}
.path-mod-data .howto.switchrole {
    background-color:  #ffffee;
    border-radius:         4px;
    border:   1px solid orange;
    display:              none;
    margin-bottom:        12px;
    max-width:           624px;
    padding: 6px 12px 0px 12px;
}

/**********************************
CSS for the ALL pages
**********************************/

.path-mod-data div#intro span.hide { display: inline; }
.path-mod-data div.defaulttemplate { text-align: left; }
.path-mod-data td p { margin: 0px; }

.path-mod-data legend { margin: 0px; border: 0px; }
.path-mod-data th { vertical-align: top; }
.path-mod-data th.c0 { width: 184px; }
 .path-mod-data th.c1 { padding-left: 6px; text-align: right; width: 96px; }
.path-mod-data td.c1 { padding-left: 6px; text-align: left; }
.path-mod-data tr.name td div,
.path-mod-data tr.affiliation td div { display: inline-block; }
.path-mod-data tr td div.alert { display: block; padding: 4px 8px; margin: 4px 8px;}
.path-mod-data tr td div label { display: initial; }

/**********************************
CSS for the Add/Edit pages
**********************************/

#page-mod-data-edit tr.subheading th {
    color: #6666CC;
    font-size: 24px;
    padding: 12px 6px;
    text-align: left;
}

#page-mod-data-edit tr.name_title td div input.basefieldinput { width: 52px; }

#page-mod-data-edit tr#id_name_given_en td div input.basefieldinput,
#page-mod-data-edit tr#id_name_surname_en td div input.basefieldinput,
#page-mod-data-edit tr#id_name_given_ja td div input.basefieldinput,
#page-mod-data-edit tr#id_name_surname_ja td div input.basefieldinput { width: 102px; }

#page-mod-data-edit tr#id_affiliation_en td div input.basefieldinput,
#page-mod-data-edit tr#id_affiliation_ja td div input.basefieldinput { width: 232px; }

#page-mod-data-edit tr#id_affiliation_state td div input.basefieldinput,
#page-mod-data-edit tr#id_affiliation_country td div input.basefieldinput { width: 102px; }

/**********************************
CSS for the View All/Single/Search pages
**********************************/

#page-mod-data-view .datapreferences #options {
    display: none;
}

@media print {

    /** hide headers and footers **/
    header.navbar, header#page-header,
    h2, div#intro, ul.nav, div.paging,
    footer, body.has_dock div#dock,
    aside#block-region-side-pre,
    aside#block-region-side-post,
    table.mod-data-default-template,
    .dont_print_me {
        display: none;
    }

    body {
        /** remove the top padding ***
        *** usually used by header ***/
        padding-top: 0px;

        /** this may help Safari to ***
        *** recognise page breaks ****/
        overflow: visible;

        /** this may help Chrome to ***
        *** print background images **/
        -webkit-print-color-adjust: exact;
    }
}