.lang-en .multilang:not([lang="en"]) {
    display: none;
}

.lang-ja .multilang:not([lang="ja"]) {
    display: none;
}

/* ensure schedule page container is maximum width, in order to 
   reduce unnecessary horizontal scrolling of wide schedule  */
.container-fluid {
    max-width: 100%;
    margin: 0;
}

.schedule * {
    box-sizing: border-box;
}

.schedule {
    background-color: #fff;
    border-spacing: 2px;
    border-collapse: separate;
    line-height: initial;
}

.schedule caption,
.schedule th,
.schedule td {
    background-color: #fff;
}

/* standardize display of <table class="schedule"> */
.schedule,
.schedule caption,
.schedule tr,
.schedule th,
.schedule td {
    display: block;
}

.schedule .scheduletitle {
    font-size:  xx-large;
    font-weight:     400;
    text-align:     left;
    padding-bottom: 12px;
}

.schedule .schedulechooser {
    background-color: #f8f8f8;
    border:    2px solid #999;
    border-radius:        3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size:        initial;
    margin:           4px 0px;
    padding-top:          4px;
    padding-bottom:       4px;
    width:        max-content;
}

.schedule .schedulechooser span {
    margin: 0px;
    padding: 4px 8px;
}

.schedule .schedulechooser span.active {
    background-color: #fc9;
    /* f99 pale red */
    /* fc9 pale orange */
}

.schedule.myschedule .notattending {
    display: none;
}

.schedule .tabs,
.schedule .roomheadings,
.schedule .timeheading {
    display: none;
}

.schedule .date {
    color: purple;
    font-size: xx-large;
    text-align: left;
}

.schedule .session {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius:     4px;
    padding:       3px 6px;
    margin:        6px 0px;
    overflow:         auto;
}

/* ensure maximum readability for links inserted by database filter */
.schedule .title a {
    color: #000;
    font-weight: 450;
}

.schedule .session.paper,
.schedule .session.presentation {
	background-color: #fffcf6; /* light orange */
}

.schedule .session.case,
.schedule .session.casestudy,
.schedule .session.virtual {
    background-color: #f8f8ff; /* light blue */
}

.schedule .session.lightning,
.schedule .session.lightningtalk {
    background-color: #f8ffff; /* light cian */
}

.schedule .session.showcase {
    background-color: #fffff8; /* light yellow */
}

.schedule .session.workshop {
    background-color: #fff8ff; /* light purple */
}

.schedule .session.keynote {
	background-color: #f9f2ec; /* light brown */
}

.schedule .session.poster,
.schedule .session.symposium {
	background-color: #ecf9f2; /* light green */
}

.schedule .emptysession {
    display: none;
}

.schedule .sharedsession .item {
    clear:         both;
    margin-bottom:  6px;
    margin-top:     6px;
    overflow:      auto;
    position:  relative;
}

.schedule .time,
.schedule .room,
.schedule .title,
.schedule .authors {
    overflow:        hidden;
    text-overflow: ellipsis;
}

.schedule .time,
.schedule .room,
.schedule .summary {
    color: #999;
}

.schedule .title,
.schedule .authors {
    color: #333;
}

.schedule .time,
.schedule .room {
    font-size: smaller;
}

.schedule .time {
    float: left;
    text-align: left;
    white-space: nowrap;
    width: 40%;
}

.schedule .room {
    float: right;
    padding-right: 6px;
    text-align: right;
    white-space: nowrap;
    width: 40%;
}

.schedule .roomseats:not(:empty):before,
.schedule .duration:not(:empty):before {
    content: " (";
}

.schedule .roomseats:not(:empty):after,
.schedule .duration:not(:empty):after {
    content: ")";
}

.schedule .roomtopic {
    font-size: 0.9em;
    font-style: italic;
}

#items.schedule:empty,
.schedule .roomseats:empty,
.schedule .roomtopic:empty {
   display: none;
}

.schedule .title {
    clear:             left;
    font-size:        1.2em;
    overflow:        hidden;
    text-overflow: ellipsis;
    white-space:     normal;
}

.schedule .authors {
    font-size: small;
}

.schedule .schedulenumber {
    font-style:     normal;
    font-weight:       400;
}

.schedule .schedulenumber:not(:empty):before {
    content: "[";
}

.schedule .schedulenumber:not(:empty):after {
    content: "] ";
}

.schedule .categorytype {
    font-size: small;
}

.schedule .category,
.schedule .topic {
    display: none;
}

/** special case to highlight MAJ grant reports */
.schedule .session.maj .category {
    display:          block;
    color:             #f44;
    font-size:         12px;
    font-weight:        500;
}

.schedule .type {
    color:             #666;
    font-size:        0.8em;
}

/** white space between category and type */
.schedule .category:not(:empty) + .type:not(:empty):before {
    content: " ";
}

/** hide elements on event */
.session.event .schedulenumber,
.session.event .categorytypetopic {
    display: none;
}

.session.event {
    background-color: #f2f2f2; /* grey 5% */
}

.session.event .title {
    font-size: 18px;
}

.schedule .summary {
    float:             left;
    font-size:     xx-small;
    font-style:      italic;
    line-height:       12px;
    max-height:        36px;
    margin-right:       8px;
    padding-top:        3px;
    overflow:        hidden;
    text-overflow: ellipsis;
    width: calc(100% - 140px);
}

.schedule .capacity {
    background-color:  #fafafa;
    border:  1px solid #e8e8e8;
    border-radius:      4px;
    float:            right;
    font-size:        0.9em;
    height:             3em;
    text-align:       right;
    width:            120px;
}

.schedule .attending .capacity {
    background:        #efe;
    border:  1px solid #aca;
}


.schedule .attendance {
    color:             #363;
    display:         inline;
}

.schedule .attending .attendance {
    color:             #696;
}

.schedule .attendance label {
    display:         inline;
    font-weight:        300;
    font-size:        small;
    padding:            0px;
    padding-right:      6px;
}

.schedule .attending .attendance label {
    font-weight:        400;
}

.schedule .attendance input[type="checkbox"] {
    margin-top:         0px;
    margin-right:       2px;
}

.schedule .emptyseats {
    color:           purple;
    height:            17px;
    margin:     1px 4px 0px;
}

.schedule .scheduleinfo {
    font-size:        small;
}

.schedule .scheduleinfo div {
    display: none;
}

.schedule .scheduleinfo .language .icon {
    color: #c36; /* modest red */
}

.schedule .scheduleinfo .times .icon {
    color: #6c3; /* modest green */
}

.schedule .scheduleinfo .topics .icon {
    color: #36c; /* modest blue */
}

.schedule .scheduleinfo .keywords .icon {
    color: #c63; /* modest orange */
}

.schedule .scheduleinfo .keywords .icon:before {
    content: " ";
}

/* show icon text as a pop up when mouse hovers over icon */
.schedule .icontext {
    position: relative;
}

.schedule .icontext .text {
    background-color: black;
    border-radius:      4px;
    color:             #fff;
    right:             -8px;
    max-width:        120px;
    min-width:         80px;
    padding:        2px 6px;
    position:      absolute;
    bottom:            18px;
    text-align:      center;
    visibility:      hidden;
    z-index:           1000;
}

.schedule .icontext:hover .text {
    visibility:     visible;
}

@media print, screen and (min-width: 768px) {

    table.schedule {
        display: table;
    }

    .schedule caption {
        display: table-caption;
    }

    .schedule tr,
    .schedule .roomheadings {
        display: table-row;
    }

    .schedule th,
    .schedule td,
    .schedule .timeheading,
    .schedule .emptysession {
        display: table-cell;
    }

    .schedule .schedulechooser {
        float:        right;
        margin:     4px 8px;
        padding:        0px;
    }

    .schedule .schedulechooser span {
        display: inline-block;
    }

    .schedule .date td {
        padding-bottom: 4px;
        padding-top:   12px;
    }

    .schedule .timeheading {
        font-size:    0.9em;
        font-weight: normal;
        min-width:    100px;
        padding-top:    6px;
        text-align:  center;
        vertical-align: top;
    }

    .schedule .emptysession {
        text-align:  center;

    }

    .schedule .emptysession:before {
        color:         #999;
        content: "No event scheduled here";
        font-size:    small;
    }

    .schedule .session {
        margin:         4px 3px;
        overflow:       visible;
        position:      relative;
        vertical-align:     top;
        min-width:        180px;
        max-width:        180px;
    }

    .schedule .attending,
    .schedule .notattending {
        padding-bottom:   2.8em;
    }

    .schedule.myschedule .notattending {
        display:     table-cell;
    }

    .schedule.myschedule .notattending div {
        visibility:      hidden;
    }

    .schedule.myschedule .session.notattending {
        border-style:    dashed;
    }

    .schedule .time,
    .schedule .room,
    .schedule .summary {
        display:           none;
    }

    .schedule .multiroom .summary {
        display:   inline-block;
        max-height:        24px;
        max-width:        540px;
        overflow:        hidden;
        text-overflow: ellipsis;
        white-space:     nowrap;
    }

    .schedule .multiroom .room {
        background-color:  #ede;
        border: 1px solid  #cac;
        border-radius:      4px;
        color:             #000;
        display:          block;
        float:            right;
        padding:        3px 6px;
        text-align:      center;
        width:          initial;
    }

    .schedule .roomheading {
        background-color:  #ede;
        border: 1px solid  #cac;
        border-radius:      4px;
        color:            black;
        font-weight:     normal;
        padding:        4px 6px;
        text-align:      center;
    }

    .schedule .duration:not(:empty):before {
        content:          "\A(";
        white-space:        pre;
    }

    .schedule .duration:not(:empty):after {
        content:            ")";
    }

    .schedule .title {
        font-size:        0.8em;
        font-weight:    initial;
        padding-top:        0px;
        white-space:     normal;
    }

    .session.event {
        vertical-align: middle;
    }

    .session.event .title {
        font-size: 18px;
    }

    .schedule .authors {
        font-style:      italic;
    }

    .schedule .capacity {
        bottom:             2px;
        float:             none;
        height:            auto;
        right:              2px;
        padding:        0px 6px;
        position:      absolute;
        text-align:       right;
    }

    .schedule .emptyseats {
        font-size:        0.9em;
    }
}

@media only screen and (min-width: 768px) and (max-height: 1200px) {

    .schedule {
        position: relative;
        z-index:        10;
    }

    .schedule .day,
    .schedule .date {
        display:      none;
    }

    .schedule .day.active {
        display:   initial;
    }

    .schedule .tabs {
        display: table-row;
        height:       60px;
    }

    .schedule .tabs td {
        position: relative;
    }

    .schedule .tab {
        background-color:         #eee;
        border-bottom:            none;
        border-radius: 8px 8px 0px 0px;
        border:        2px dotted #999;
        border-bottom:  1px solid #999;
        color:                    #999;
        display:          inline-block;
        font-size:             x-large;
        line-height:            1.25em;
        margin:               0px 12px;
        min-width:               140px;
        padding:                   6px;
        position:             relative;
        text-align:             center;
        top:                       6px;
    }

    .schedule .tab:first-child {
        margin-left:             120px;
    }

    .schedule .tab.active {
        background-color:         #fff;
        border: 2px solid         #999;
        border-bottom:            none;
        color:                  purple;
    }
}

/** hide headers and footers when printing **/
@media only print {
    #page-header, #page-footer, .activity-navigation { display: none; }
}

