<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="schedule fullschedule">
    <thead>
        <tr class="scheduletitle">
            <td colspan="5">Schedule for MoodleMoot Japan 2018</td>
        </tr>
        <tr class="tabs">
            <td colspan="5">
                <div class="tab day1">Feb 21st<br />(Wed)</div>
                <div class="tab day2 active">Feb 22nd<br />(Thu)</div>
                <div class="tab day3">Feb 23rd<br />(Fri)</div>
            </td>
        </tr>
    </thead>
    <colgroup>
        <col class="room0 timeheading">
        <col class="room1">
        <col class="room2">
        <col class="room3">
        <col class="room4">
    </colgroup>
    <tbody class="day day1">
        <tr class="date">
            <td colspan="5">Feb 21st (Wed)</td>
        </tr>
        <tr class="slot">
            <th class="timeheading">13:30 - 14:00<span class="duration">30 mins</span></th>
            <td class="session allrooms attending" colspan="4">
                <div class="time">13:30 - 14:00<span class="duration">30 mins</span></div>
                <div class="room"><span class="roomname">Foyer</span></div>
                <div class="title">Registration 1.1.all</div>
                <div class="authors"><span class="schedulenumber">11-E</span></div>
                <div class="summary">Collect your badges and have coffee.</div>
                <div class="capacity">
                    <div class="emptyseats"></div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="roomheadings">
            <th class="timeheading"></th>
            <th class="roomheading"><span class="roomname">Room 8</span><span class="roomseats">50 seats</span><div class="roomtopic">English Workshops</div></th>
            <th class="roomheading"><span class="roomname">Room 9</span><span class="roomseats">45 seats</span><div class="roomtopic">Japanese Workshops</div></th>
            <th class="roomheading" colspan="2"></th>
        </tr>
        <tr class="slot">
            <th class="timeheading">14:00 - 15:30<span class="duration">90 mins</span></th>
            <td class="session attending">
                <div class="time">14:00 - 15:30<span class="duration">90 mins</span></div>
                <div class="room"><span class="roomname">Room 8</span><span class="roomseats">50 seats</span><div class="roomtopic">English Workshops</div></div>
                <div class="title">Workshop 1.2.1</div>
                <div class="authors"><span class="schedulenumber">121-W</span>Tom, Dick, Harry</div>
                <div class="summary">This workshop will explore several ways qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">50 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
            <td class="session">
                <div class="time">14:00 - 15:30<span class="duration">90 mins</span></div>
                <div class="room"><span class="roomname">Room 9</span><span class="roomseats">45 seats</span><div class="roomtopic">Japanese Workshops</div></div>
                <div class="title">Workshop 1.2.2</div>
                <div class="authors"><span class="schedulenumber">122-W</span>Tom, Dick, Harry</div>
                <div class="summary">In this workshop, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">45 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session emptysession" rowspan="2" colspan="2"></td>
        </tr>
        <tr class="slot">
            <th class="timeheading">10:40 - 12:10<span class="duration">90 mins</span></th>
            <td class="session">
                <div class="time">10:40 - 12:10<span class="duration">90 mins</span></div>
                <div class="room"><span class="roomname">Room 8</span><span class="roomseats">50 seats</span><div class="roomtopic">English Workshops</div></div>
                <div class="title">Workshop 1.3.1</div>
                <div class="authors"><span class="schedulenumber">122-W</span>Tom, Dick, Harry</div>
                <div class="summary">In this workshop, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">45 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session attending">
                <div class="time">10:40 - 12:10<span class="duration">90 mins</span></div>
                <div class="room"><span class="roomname">Room 9</span><span class="roomseats">45 seats</span><div class="roomtopic">Japanese Workshops</div></div>
                <div class="title">Workshop 1.3.2</div>
                <div class="authors"><span class="schedulenumber">121-W</span>Tom, Dick, Harry</div>
                <div class="summary">This workshop will explore several ways qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">50 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody class="day day2 active">
        <tr class="date">
            <td colspan="5">Feb 22nd (Thu)</td>
        </tr>
        <tr class="slot">
            <th class="timeheading">8:30 - 9:00<span class="duration">30 mins</span></th>
            <td class="session allrooms attending" colspan="4">
                <div class="time">8:30 - 9:00<span class="duration">30 mins</span></div>
                <div class="room"><span class="roomname">Foyer</span></div>
                <div class="title">Registration 2.1.all</div>
                <div class="authors"><span class="schedulenumber">21-E</span></div>
                <div class="summary">Collect your badges and have coffee.</div>
                <div class="capacity">
                    <div class="emptyseats"></div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="roomheadings">
            <th class="timeheading"></th>
            <th class="roomheading"><span class="roomname">Room 1</span><span class="roomseats">50 seats</span><div class="roomtopic">Materials Development</div></th>
            <th class="roomheading"><span class="roomname">Room 2</span><span class="roomseats">45 seats</span><div class="roomtopic">Show and Tell (English)</div></th>
            <th class="roomheading"><span class="roomname">Room 3</span><span class="roomseats">40 seats</span><div class="roomtopic">Show and Tell (Japanese)</div></th>
            <th class="roomheading"><span class="roomname">Room 4</span><span class="roomseats">35 seats</span><div class="roomtopic">Moodle administration</div></th>
        </tr>
        <tr class="slot">
            <th class="timeheading">9:00 - 9:40<span class="duration">40 mins</span></th>
            <td class="session attending">
                <div class="time">9:00 - 9:40<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 1</span><span class="roomseats">50 seats</span><div class="roomtopic">Materials development</div></div>
                <div class="title">Presentation 2.2.1</div>
                <div class="authors"><span class="schedulenumber">221-P</span>Tom, Dick, Harry</div>
                <div class="summary">This presentation will explore several ways qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">50 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
            <td class="session">
                <div class="time">9:00 - 9:40<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 2</span><span class="roomseats">45 seats</span><div class="roomtopic">Show and Tell (English)</div></div>
                <div class="title">Presentation 2.2.2</div>
                <div class="authors"><span class="schedulenumber">222-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this presentation, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">45 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session" rowspan="2">
                <div class="time">9:00 - 12:00<span class="duration">180 mins</span></div>
                <div class="room"><span class="roomname">Room 3</span><span class="roomseats">40 seats</span><div class="roomtopic">Show and Tell (Japanese)</div></div>
                <div class="title">Presentation 2.2.3</div>
                <div class="authors"><span class="schedulenumber">223-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this presentation, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">40 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session emptysession"></td>
        </tr>
        <tr class="slot">
            <th class="timeheading">9:50 - 10:30<span class="duration">40 mins</span></th>
            <td class="session">
                <div class="time">9:50 - 10:30<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 2</span><span class="roomseats">45 seats</span><div class="roomtopic">Show and Tell (English)</div></div>
                <div class="title">Presentation 2.2.2</div>
                <div class="authors"><span class="schedulenumber">222-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this presentation, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">45 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session emptysession"></td>
            <td class="session attending">
                <div class="time">9:50 - 10:30<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 1</span><span class="roomseats">50 seats</span><div class="roomtopic">Materials development</div></div>
                <div class="title">Presentation 2.3.1</div>
                <div class="authors"><span class="schedulenumber">224-P</span>Tom, Dick, Harry</div>
                <div class="summary">This presentation will explore several ways qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">50 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="slot">
            <th class="timeheading">10:40 - 10:50<span class="duration">10 mins</span></th>
            <td class="session allrooms" colspan="4">
                <div class="time">10:40 - 10:50<span class="duration">10 mins</span></div>
                <div class="room"><span class="roomname">Main Hall</span><span class="roomseats">100 seats</span><div class="roomtopic"></div></div>
                <div class="title">Awards 2.3.all</div>
                <div class="authors"><span class="schedulenumber">23-P</span>Tom, Dick, Harry</div>
                <div class="summary">Come and see which plugins were voted upower hbskjh oieur oiusdf kjhsdfb jhqeroiu oisgdf kjhekrjh kjsf uqerk gsdfkj gwkerygqyqo gls kshdf kjhbsk kahsd khab aksjhd ka.</div>
                <div class="capacity">
                    <div class="emptyseats">100 seats</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="slot">
            <th class="timeheading">10:50 - 11:50<span class="duration">60 mins</span></th>
            <td class="session allrooms attending" colspan="4">
                <div class="time">10:50 - 11:50<span class="duration">60 mins</span></div>
                <div class="room"><span class="roomname">Main Hall</span><span class="roomseats">100 seats</span><div class="roomtopic"></div></div>
                <div class="title">Plenary 2.4.all</div>
                <div class="authors"><span class="schedulenumber">23-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this plenary, Dr Know will discuss aspodi upower hbskjh oieur oiusdf kjhsdfb jhqeroiu oisgdf kjhekrjh kjsf uqerk gsdfkj gwkerygqyqo gls kshdf kjhbsk kahsd khab aksjhd ka.</div>
                <div class="capacity">
                    <div class="emptyseats">100 seats</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="slot">
            <th class="timeheading">12:00 - 13:00<span class="duration">60 mins</span></th>
            <td class="session allrooms" colspan="4">
                <div class="time">12:00 - 13:00<span class="duration">60 mins</span></div>
                <div class="room"><span class="roomname">Cafeteria</span><span class="roomseats">100 seats</span><div class="roomtopic"></div></div>
                <div class="title">Refreshment 2.5.all</div>
                <div class="authors"></div>
                <div class="summary">Lunch will be served in the cafetria on the 2nd floor of building 3.</div>
                <div class="capacity">
                    <div class="emptyseats">100 seats</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="roomheadings">
            <th class="timeheading"></th>
            <th class="roomheading"><span class="roomname">Room 1</span><span class="roomseats">50 seats</span><div class="roomtopic">Materials development</div></th>
            <th class="roomheading"><span class="roomname">Room 2</span><span class="roomseats">45 seats</span><div class="roomtopic">Show and Tell (English)</div></th>
            <th class="roomheading"><span class="roomname">Room 3</span><span class="roomseats">40 seats</span><div class="roomtopic">Show and Tell (Japanese)</div></th>
            <th class="roomheading"><span class="roomname">Room 4</span><span class="roomseats">35 seats</span><div class="roomtopic">Moodle administration</div></th>
        </tr>
        <tr class="slot">
            <th class="timeheading">13:00 - 13:40<span class="duration">40 mins</span></th>
            <td class="session attending">
                <div class="time">13:00 - 13:40<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 1</span><span class="roomseats">50 seats</span><div class="roomtopic">Materials development</div></div>
                <div class="title">Presentation 2.2.1</div>
                <div class="authors"><span class="schedulenumber">221-P</span>Tom, Dick, Harry</div>
                <div class="summary">This presentation will explore several ways qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">50 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
            <td class="session">
                <div class="time">13:00 - 13:40<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 2</span><span class="roomseats">45 seats</span><div class="roomtopic">Show and Tell (English)</div></div>
                <div class="title">Presentation 2.2.2</div>
                <div class="authors"><span class="schedulenumber">222-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this presentation, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">45 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session" rowspan="2">
                <div class="time">13:00 - 16:00<span class="duration">180 mins</span></div>
                <div class="room"><span class="roomname">Room 4</span><span class="roomseats">35 seats</span><div class="roomtopic">Moodle administration</div></div>
                <div class="title">Lightening Talk 2.2.3a</div>
                <div class="authors"><span class="schedulenumber">223a-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this talk, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="title">Lightening Talk 2.2.3b</div>
                <div class="authors"><span class="schedulenumber">223b-P</span>Tom, Dick, Harry</div>
                <div class="summary">The presenters will report on qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="title">Lightening Talk 2.2.3c</div>
                <div class="authors"><span class="schedulenumber">223c-P</span>Tom, Dick, Harry</div>
                <div class="summary">Although many people use XYZ, qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">40 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session emptysession"></td>
        </tr>
        <tr class="slot">
            <th class="timeheading">13:50 - 14:30<span class="duration">40 mins</span></th>
            <td class="session">
                <div class="time">13:50 - 14:30<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 2</span><span class="roomseats">45 seats</span><div class="roomtopic">Show and Tell (English)</div></div>
                <div class="title">Presentation 2.2.2</div>
                <div class="authors"><span class="schedulenumber">222-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this presentation, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">45 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session emptysession"></td>
            <td class="session attending">
                <div class="time">13:50 - 14:30<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 1</span><span class="roomseats">50 seats</span><div class="roomtopic">Materials development</div></div>
                <div class="title">Presentation 2.3.1</div>
                <div class="authors"><span class="schedulenumber">224-P</span>Tom, Dick, Harry</div>
                <div class="summary">This presentation will explore several ways qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">50 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="slot">
            <th class="timeheading">14:40 - 15:40<span class="duration">60 mins</span></th>
            <td class="session allrooms" colspan="4">
                <div class="time">14:40 - 15:40<span class="duration">60 mins</span></div>
                <div class="room"><span class="roomname">Main Hall</span><span class="roomseats">100 seats</span><div class="roomtopic"></div></div>
                <div class="title">Plenary 2.4.all</div>
                <div class="authors"><span class="schedulenumber">23-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this plenary, Dr Know will discuss aspodi upower hbskjh oieur oiusdf kjhsdfb jhqeroiu oisgdf kjhekrjh kjsf uqerk gsdfkj gwkerygqyqo gls kshdf kjhbsk kahsd khab aksjhd ka.</div>
                <div class="capacity">
                    <div class="emptyseats">100 seats</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody class="day day3">
        <tr class="date">
            <td colspan="5">Feb 23rd (Fri)</td>
        </tr>
        <tr class="slot">
            <th class="timeheading">8:30 - 9:00<span class="duration">30 mins</span></th>
            <td class="session allrooms attending" colspan="4">
                <div class="time">8:30 - 9:00<span class="duration">30 mins</span></div>
                <div class="room"><span class="roomname">Foyer</span></div>
                <div class="title">Registration 3.1.all</div>
                <div class="authors"><span class="schedulenumber">21-E</span></div>
                <div class="summary">Collect your badges and have coffee.</div>
                <div class="capacity">
                    <div class="emptyseats"></div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="roomheadings">
            <th class="timeheading"></th>
            <th class="roomheading"><span class="roomname">Room 1</span><span class="roomseats">50 seats</span><div class="roomtopic">Materials development</div></th>
            <th class="roomheading"><span class="roomname">Room 2</span><span class="roomseats">45 seats</span><div class="roomtopic">Show and Tell (English)</div></th>
            <th class="roomheading"><span class="roomname">Room 3</span><span class="roomseats">40 seats</span><div class="roomtopic">Show and Tell (Japanese)</div></th>
            <th class="roomheading"><span class="roomname">Room 4</span><span class="roomseats">35 seats</span><div class="roomtopic">Moodle administration</div></th>
        </tr>
        <tr class="slot">
            <th class="timeheading">9:00 - 9:40<span class="duration">40 mins</span></th>
            <td class="session attending">
                <div class="time">9:00 - 9:40<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 1</span><span class="roomseats">50 seats</span><div class="roomtopic">Materials development</div></div>
                <div class="title">Presentation 3.2.1</div>
                <div class="authors"><span class="schedulenumber">221-P</span>Tom, Dick, Harry</div>
                <div class="summary">This presentation will explore several ways qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">50 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
            <td class="session">
                <div class="time">9:00 - 9:40<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 2</span><span class="roomseats">45 seats</span><div class="roomtopic">Show and Tell (English)</div></div>
                <div class="title">Presentation 3.2.2</div>
                <div class="authors"><span class="schedulenumber">222-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this presentation, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">45 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session" rowspan="2">
                <div class="time">9:00 - 12:00<span class="duration">180 mins</span></div>
                <div class="room"><span class="roomname">Room 3</span><span class="roomseats">40 seats</span><div class="roomtopic">Show and Tell (Japanese)</div></div>
                <div class="title">Presentation 3.2.3</div>
                <div class="authors"><span class="schedulenumber">223-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this presentation, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">40 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session emptysession"></td>
        </tr>
        <tr class="slot">
            <th class="timeheading">9:50 - 10:30<span class="duration">40 mins</span></th>
            <td class="session">
                <div class="time">9:50 - 10:30<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 1</span><span class="roomseats">50 seats</span><div class="roomtopic">Materials development</div></div>
                <div class="title">Presentation 3.2.2</div>
                <div class="authors"><span class="schedulenumber">222-P</span>Tom, Dick, Harry</div>
                <div class="summary">In this presentation, participants will learn qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">45 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" />
                        <span class="text">Not attending</span>
                    </div>
                </div>
            </td>
            <td class="session emptysession"></td>
            <td class="session attending">
                <div class="time">9:50 - 10:30<span class="duration">40 mins</span></div>
                <div class="room"><span class="roomname">Room 4</span><span class="roomseats">35 seats</span><div class="roomtopic">Moodle administration</div></div>
                <div class="title">Presentation 3.3.1</div>
                <div class="authors"><span class="schedulenumber">224-P</span>Tom, Dick, Harry</div>
                <div class="summary">This presentation will explore several ways qwer afds zxc dfg rty vb ghasf asd qe qhgje jkqhwgekjhgqw kqwg ekjqhwge kjhqwg kjhqw khgqwek hqgwek jhqwgek hgqk hjgqwkeg qwe </div>
                <div class="capacity">
                    <div class="emptyseats">50 seats left.</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="slot">
            <th class="timeheading">10:40 - 11:00<span class="duration">20 mins</span></th>
            <td class="session allrooms" colspan="4">
                <div class="time">10:40 - 11:00<span class="duration">20 mins</span></div>
                <div class="room"><span class="roomname">Main Hall</span><span class="roomseats">100 seats</span><div class="roomtopic"></div></div>
                <div class="title">Closing ceremony3.3.all</div>
                <div class="authors"><span class="schedulenumber">23-P</span>Tom, Dick, Harry</div>
                <div class="summary">Come and see which plugins were voted upower hbskjh oieur oiusdf kjhsdfb jhqeroiu oisgdf kjhekrjh kjsf uqerk gsdfkj gwkerygqyqo gls kshdf kjhbsk kahsd khab aksjhd ka.</div>
                <div class="capacity">
                    <div class="emptyseats">100 seats</div>
                    <div class="attendance">
                        <input type="checkbox" name="" value="1" checked="checked" />
                        <span class="text">Attending</span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript" defer="defer">
//<![CDATA[
(function(){
    if (location.protocol=='https:' || location.protocol=='http:') {
        var wwwroot = location.href.replace(new RegExp("^(.*?)/(blocks|course|mod)/.*$"), "$1");
        var src = "/blocks/maj_submissions/templates/template";
    } else {
        var wwwroot = location.href.replace(new RegExp("^(.*)/.*?$"), "$1");
        var src = "/template";
    }
    var css = "@import url(" + wwwroot + src + ".css);";
    var style = document.createElement("style");
    style.setAttribute("type","text/css");
    style.appendChild(document.createTextNode(css));
    var script = document.createElement("script");
    script.setAttribute("type","text/javascript");
    script.setAttribute("src", wwwroot + src + ".js");
    var head = document.getElementsByTagName("head");
    head[0].appendChild(style);
    head[0].appendChild(script);
})();
//]]>
</script>
</body>
</html>